*{
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Alice", serif;
  font-weight: 400;
}

body{
  background-image: url(images/bg.png);
  background-size: cover;
  background-color: #573824;
}

#box{
  width: 800px;
  margin: 48px auto;
}

#container{
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
}

#cupcake{
  width: 100%;
  height: auto;
  border-radius: 16px;
}

section{
  margin: 24px;
}

h1, h2{
  color: #291B1A;
  margin-bottom: 4px;
}

h1{
  font-size: 40px;
  line-height: 140%;
}

h2{
  font-size: 24px;
  line-height: 150%;
}

p + p{
  margin-top: 12px;
}

p, li{
  color:#573A37;
  font-size: 16px;
  line-height: 150%;
}
ul{
  padding-left: 24px;
}

#creditos{
  text-align: center;
  color: #F0E8C2;
  font-size: 16px;
  margin-top: 27px;
  margin-bottom: 48px;
}