body{
  display:flex;
  justify-content: center;
  
  background-image: url(images/cupcake.png);
  background-color: #573824DF;
  background-blend-mode: soft-light;
  background-position: 40%;
  background-size: 270%;
  backdrop-filter: blur(12px);
  background-repeat: no-repeat;
}

#box{
  width: 64%;
  max-width: 800px;
  max-height: 1440;
  font-family: "Alice", serif;
  font-weight: 400;
}

#container{
  box-sizing: border-box;
  width: 100%;
  padding: 2%;
  background-color: #F0E8C2;
  border-radius: 24px;
  margin-top: 48px;
  margin-bottom: 24px;
}

#cupcake{
  width: 100%;
  height: auto;
  border-radius: 16px;
}

main{
  padding: 0px 24px 24px 24px;
}

h1, h2{
  color: #291B1A;
}

h1{
  font-size: 40px;
  line-height: 140%;
}

h2{
  font-size: 24px;
  line-height: 150%;
}

p, li{
  color:#573A37;
  font-size: 16px;
  line-height: 150%;
}

#creditos{
  text-align: center;
  color: #F0E8C2;
  font-size: 16px;
  margin-bottom: 48px;
}