body{
  background-image: url(images/bg.png);
  background-size: cover;
  background-color: #573824;

  font-family: "Alice", serif;
}

#box{
  width: 800px;
  font-weight: 400;
  margin: 48px auto;
}

#container{
  box-sizing: border-box;
  width: 100%;
  padding: 24px;
  background-color: #F0E8C2;
  border-radius: 24px;
}

#cupcake{
  width: 100%;
  height: auto;
  border-radius: 16px;
}

main{
  padding: 0px 24px 24px 24px;
}

h1, h2{
  color: #291B1A;
}

h1{
  font-size: 40px;
  line-height: 140%;
}

h2{
  font-size: 24px;
  line-height: 150%;
}

p, li{
  color:#573A37;
  font-size: 16px;
  line-height: 150%;
}

#creditos{
  text-align: center;
  color: #F0E8C2;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 48px;
}